/*header*/

#div01 {
    color: #FF851B;
    background-image: url(img/003.jpg);
}




















/*body*/

body {
    background-color: #bebebe;
}

.container {
    background-color: #ffffff;
}



















/*footer*/

#div02 {
    background-color: #363636;
}

#div03 {
    color: #FFFFFF;
}